body {
	background-color: #13459a;
}


h1 {
	color: white;
	text-shadow: 1px 1px 2px black;
}

h2 {
	color: white;
	margin: auto;
}

p {
	color: lightgray;
}

table {
	background-color: #333333;
	border: 3px #EEEEEE solid;
	border-collapse: collapse;
	width: 60%;
	margin: auto;
}

tr:nth-child(even) {
	background-color: #252525;
}

th, td {
	padding: 10px;
	text-align: center;
	font-family: arial;
}

th {
	border: 1px #252525 solid;
	background-color: #EEEEEE;
	color: #252525;
	font-size: 20px;
}

td {
	border: 1px #EEEEEE solid;
	color: #d1d1d1;
}


a:link {
	color: orange;
	text-decoration: none;
}


a:visited {
	color: orange;
	text-decoration: none;
}


a:active {
	color: lightgray;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}


a:hover {
	color: lightgray;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}

.centerText {
	text-align: center;
}

.navLink {
	margin-bottom: 20px;
	font-size: 20px;
}